/*  intended for use with dark flat ahoka threme for appchan x   */

body, textarea, input {
	font-family: "Open Sans" !important;
	font-weight: 500 !important;
}

/* rremoves borders and background from the thread area */
#doc, #threads, .board > .thread {
    background: rgba(0, 0, 0, 0);
    border: none;
}

/* center posts */
.replyContainer, .opContainer {
    margin-left: 16rem !important;
}

/* rremove this for showing inline replies */
.inline > .replyContainer {
    margin-left: 0rem !important;
}

/* justify post width, add spacing and padding */
.post:not(.op) {
    margin-bottom: 2rem !important;
    padding: 1rem !important;
}

#breadCrumb {
	background: none !important;	
}

/* make the OP the same as everything else */
.opContainer {
    margin-top: 2rem !important;
    width: 50rem !important;
    margin-bottom: 2rem !important;
}


/* add a background image */
body {
 	background-image: url(http://i.imgur.com/FTdHELz.jpg);     
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* take out the solid column on the right side */
.sidebar-normal body {
    margin: 0;
}


/* misc small fixes */
.sidebar-location-right.sidebar-normal:not(.pagination-on-side):not(.fourchan-ss-navigation) .pagelist, .sidebar-location-right.sidebar-normal #header-bar {
 	right: 0px;   
}

tbody > tr:nth-of-type(2n+1) {
 	background: inherit !important;   
}

#blotter > thead {
    display: none !important;
}

/* top padding for the board banner on the right */
.boardBanner, #boardTitle {
 	margin-top: 3rem;   
}

/* undo the spacing for the catalog */
.catalog-small {
    margin-top: 2rem;
    margin-right: 252px;
}

/* catalog formatting */
.catalog-thread {
    background: rgba(35,36,37,.7);
    padding: 1rem !important;
    height: 17rem !important;
    margin: 1rem !important;
}

/* fix padding on hover posts */
#hoverUI > #qp > .replyContainer {
 	margin-left: 0rem !important;   
}

#blotter, body>.center {
	display: none !important;	
}

#delform {
	background: none !important;
	box-shadow: none !important;
}

/* try to make the OP consistent because it's structured weirdly */
.post:not(.op), #blotter {
	background-color: rgba(21, 22, 24, .9) !important;	
}

.op>.postMessage {
	background-color: rgba(21, 22, 24, .9) !important;
	padding: 2rem !important;
	margin-left: 0px;
}

.postInfo {
	width: 66rem !important;	
}

/*minimize :^) */
.fileText {
	opacity: 0;	
	transition: .1s ease;
}

.fileText:hover {
	opacity: 1;	
}

.post {
	border: 2px solid rgba(0, 0, 0, 0) !important;
	border-radius: 2px;
	transition: .4s ease;
}

.post:hover {
	border-bottom: 2px solid dodgerblue !important;
}

.dialog {
	background: none !important;	
}

/* hover-created replies */
#qp>.postContainer>.post {
	margin-bottom: 0px !important;
	box-shadow: none !important;
	background-color: rgba(21, 22, 24, .95) !important;					
}

#header-bar {
	background-color: rgba(21, 22, 24, .95) !important;	
}

#thread-watcher.dialog {
	background-color: rgba(21, 22, 24, .95) !important;	
}

hr {
	border: none !important;	
}

/* list of boards on the top left */
#header-bar {
	background-color: rgba(0, 0, 0, 0) !important;
	border: none !important;
	transition: .2s ease;
}

#header-bar:hover {
	background-color: rgba(0, 0, 0, .9) !important;	
}

#custom-board-list {
	cursor: default !important;	
}

#custom-board-list>a {
	color: white !important;
	opacity: .5;
	transition: .2s ease;
}

#custom-board-list>a:hover {
	opacity: .8;
	color: white !important;
}

a, .quotelink {
	transition: color .2s ease;
	text-decoration: none !important;
}

@media(min-width: 1000px) {
	.post:not(.op) {
		width: 50rem !important;									
	}
	
	.op>.postMessage {
	width: 46rem !important;
}
}

/* muh responsive */
@media(max-width: 1000px) {
	.boardBanner, #boardTitle {
		display: none !important;										
	}
	.postContainer, .post {
		margin: auto !important;
		width: 90% !important;
	}
	.op>.postMessage {
	background-color: rgba(21, 22, 24, .9) !important;
	padding: 2rem !important;
	width: 90%!important;
	margin-left: 0px;
	}
	.opContainer {
		margin-bottom: 2em !important;										
	}
}